body {
    font-family: Arial, sans-serif;
}

.nav-link:hover {
    /* background-color: #555; */
    border-radius: 5px;
}

.table {
    margin-top: 20px;
}

.table th, .table td {
    text-align: center;
    vertical-align: middle;
}
